
a {
    color: yellow; /* changes link color */
}

a:visited {
    color: yellow; /* changes visited link color */
}

a:hover {
    color: orange; /* changes color when mouse hovers */
}

a:active {
    color: green; /* color when clicked */

}


